/* Estilo general para todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Oswald, Sans-serif;
  position: relative;
}


/* Estilos del header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: padding 0.75s, background-color 0.75s;
  padding:0px;
  z-index: 10;
  font-size: 8px;
}

/* Estilos para la navegación dentro del header */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.custom-btn:hover {
  border-color: #f0ebd7; /* Cambia el borde al color secundario en hover */
}




/* Estado cuando el header está abajo */
header.abajo {
  background-color: rgba(0, 0, 0, 0.8); /* Color de fondo con 80% de opacidad */
  padding: 1px 20px;
  transition: padding 0.75s, background-color 0.75s;
}

/* Estilos generales para los elementos dentro de header.abajo */
header.abajo .logo,
header.abajo ul li a,
header.abajo .header-block {
  color: #f0ebd7; /* Color blanco para el texto */
}

/* Estilos para los enlaces de la lista */
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Ajusta el espacio entre los elementos de la lista */
  font-size: 12px;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: #f0ebd7; /* Mantener el color blanco */
  letter-spacing: 1px;
  transition: color 0.7s;
  font-size: 16px;
}












.video {
  position: relative;
  width: 100%;
  height: 100vh; /* Asegura que el video cubra toda la pantalla */
  overflow: hidden;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-overlay {
  position: absolute;
  top: 50%; /* Centra verticalmente en la pantalla */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste preciso del centro */
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.text-overlay h1 {
  font-weight: bold;
  margin: 0;
  font-size: 4vw; /* Tamaño de fuente adaptable */
}

.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.5vw;
  color: white;
  background-color: rgba(239, 239, 239, 0.348);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #66A272;
}
/* Estilos responsivos */
@media (max-width: 1024px) {
  .video {
    height: 600px; /* Ajusta la altura en pantallas medianas */
  }

  .text-overlay h1 {
    font-size: 2em; /* Ajusta el tamaño de fuente en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .video {
    height: 400px; /* Ajusta la altura en pantallas pequeñas */
  }

  .text-overlay h1 {
    font-size: 1.5em; /* Ajusta el tamaño de fuente en pantallas pequeñas */
  }
}
@media (max-width: 480px) {
  .video {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .text-overlay h1 {
    font-size: 1.2em; /* Ajusta el tamaño de fuente en pantallas muy pequeñas */
  }
}







.instagram__img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* La imagen se ajusta dentro del contenedor sin recortes */
  display: block;
  max-height: 100%; /* Asegura que la imagen no exceda la altura del contenedor */
  overflow: hidden; /* Evita que la imagen se desborde */
}

.instagram__tile {
  position: relative;
  overflow: hidden; /* Asegura que el contenido no se salga del contenedor */
  padding: 7px;
  max-height: 100%; /* Limita la altura del contenedor para controlar el desbordamiento */
}

@media (min-width: 768px) {
  .instagram__tile {
    padding: 3px;
  }
}

.instagram .row {
  margin: -7px;
}



.title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  box-sizing: border-box;
}



@media (min-width: 768px) {
  .instagram .row {

    margin: -3px;
  }


}

  .overlay-plus::before, .overlay-plus::after, .overlay-cross::before, .overlay-cross::after, .overlay-horizontal::before, .overlay-horizontal::after, .overlay-vertical::before, .overlay-vertical::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all 0.5s ease;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.15); }
    @media (prefers-reduced-motion: reduce) {
      .overlay-plus::before, .overlay-plus::after, .overlay-cross::before, .overlay-cross::after, .overlay-horizontal::before, .overlay-horizontal::after, .overlay-vertical::before, .overlay-vertical::after {
        transition: none; } }
  .overlay-plus.overlay-dark::before, .overlay-plus.overlay-dark::after, .overlay-cross.overlay-dark::before, .overlay-cross.overlay-dark::after, .overlay-horizontal.overlay-dark::before, .overlay-horizontal.overlay-dark::after, .overlay-vertical.overlay-dark::before, .overlay-vertical.overlay-dark::after {
    background-color: rgba(0, 0, 0, 0.15); }
  .overlay-plus::before, .overlay-plus::after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .overlay-plus:not(:hover)::before {
    width: 0; }
  .overlay-plus:not(:hover)::after {
    height: 0; }















/* Estilos del pie de página */
.site-footer {
  background-color: #000;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  /* Ajusta la sombra según tus necesidades */
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}


.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #66A272;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #000;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}




@media (max-width: 991px) {
  .site-footer [class^=col-] {
      margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
      padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
      text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #1d1f1f;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
}

.social-icons a:hover {
  background-color: #000;
}

.social-icons i {
  line-height: 40px;
}

@media (max-width: 767px) {
  .social-icons {
      text-align: center;
  }
}



@media (min-width: 768px) {
  .video-overlay h1,
  .video-overlay p {
    font-size: 4vw; /* Ajuste para pantallas medianas */
  }
}

@media (min-width: 1024px) {
  .video-overlay h1 {
    font-size: 3vw; /* Ajuste para pantallas grandes */
  }
  
  .video-overlay p {
    font-size: 2vw; /* Ajuste para pantallas grandes */
  }
}















.parallax-section {
  background-image: url('images/banner2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: auto; /* Ajusta la altura según sea necesario */
  width: 100%;
}

.parallax-content {
  color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Permite que las columnas se ajusten en pantallas pequeñas */
}

.col-md-4 {
  flex: 1;
  max-width: 33.33%; /* Mantiene las columnas del mismo tamaño en pantallas grandes */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.col-sm-12 {
  max-width: 100%; /* Asegura que las columnas ocupen el 100% del ancho en pantallas pequeñas */
  margin-bottom: 20px;
}

.icono-servicio {
  filter: brightness(0) invert(1); /* Convierte los íconos a blanco */
}

.parallax-section h1 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.parallax-section p {
  font-size: 18px;
  margin-top: 5px;
}








.footer {
  background-color: #f0ebd7;
  padding: 30px 0;
   position: relative;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Asegúrate de que el ancho del footer no exceda el body */
  box-sizing: border-box; /* Incluye padding y border en el ancho del elemento */
  overflow: hidden; /* Previene desbordamientos */
}

.footer .row {
  display: flex; /* Usa Flexbox para alinear horizontalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: flex-start; /* Alinea los elementos al principio de la columna */
  margin-bottom: 20px;
}

.footer .row .col-lg-3 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido dentro de cada columna */
}

.footer h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000; /* Color de texto predeterminado */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.footer h6:hover {
  color: #66A272; /* Color del texto al pasar el mouse */
}

.footer-logo, .footer-links, .footer-services, .footer-contact {
  text-align: center; /* Centra el texto dentro de las columnas */
  color: #000;
}

.footer-logo .logo {
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: #000; /* Color de enlace predeterminado */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.footer ul li a:hover {
  color: #66A272; /* Color del enlace al pasar el mouse */
}

.footer .social-icons a {
  margin: 0 10px;
  color: #f0ebd7;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.footer .social-icons a:hover {
  color: #7bdcb5; /* Color del ícono de redes sociales al pasar el mouse */
}


/* BLOQUE DE SECCION */


.button-ver {
  background-color: #66A272; /* Fondo verde */
  border-radius: 15px; 
  color: #000000; /* Texto en negro */
  border: 2px solid #000000; /* Borde negro */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease; /* Suave transición para los cambios */
}

.button-ver:hover {
  background-color: #66A272; /* Cambio de color de fondo al pasar el cursor */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
  border: 2px solid #000000; /* Cambio de color de borde al pasar el cursor */
}

/* Asegura que cualquier enlace dentro del botón tenga texto negro */
.button-ver a {
  color: #000000; /* Texto en negro */
  text-decoration: none; /* Elimina el subrayado del enlace */
}

.button-ver a:hover {
  color: #000000; /* Mantiene el texto negro al pasar el cursor */
}
















:root {
    --bg-card:#eff0f0;
    --clr-violet: #66A272;
    --clr-gray-price:#323639;
    --clr-gray-time: #aeb1b2;
    --clr-gray-btn:  #d6d7d7;

    --clr-black: #000 ;
    --clr-white: #fff ;
}

* , ::before , ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
/* Pricing Section */
.pricing {
    padding: 50px 20px;
}
/* ChangeTime Section */
.changeTime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 5px;
    gap: 5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    border-radius: 25px;
    padding: 1px;
    border: 2px solid #d6d7d7;
    border: 2px solid var(--clr-gray-btn , #d6d7d7);
    background-color: #eff0f0;
    background-color: var(--bg-card , #eff0f0);
}

.change-time__link {
   display: block;
   text-decoration: none;
   padding: 12px 0;
   width: 80px;
   text-align: center;
   border-radius: 25px;
   font-size: .8rem;
   color: #000;
   color: var(--clr-black , #000);
}

.changeTime__monthly {
    background-color: #66A272;
    background-color: var(--clr-violet ,#66A272);
    color: #fff;
    color: var(--clr-white);
    
}
/* Cards Section */
.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 15px;
    gap: 15px;
    margin-top: 20px;
}
/* Card Section */
.card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 15px 60px 15px 170px 15px auto;
    grid-template-rows: auto 60px 170px auto;
        grid-template-areas: 
    "card__title"
    "cardPrice"
    "cardList"
    "card__signUp";
    grid-gap: 15px;
    gap: 15px;
    padding: 20px ;
    border-radius: 15px;
    background-color: #eff0f0;
    background-color: var(--bg-card , #eff0f0);
    cursor: pointer;
}

.card:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    border: 2px solid #66A272;
    border: 2px solid var(--clr-violet ,#66A272) ;
    -webkit-transition: .1s;
    transition: .1s;
}

.card--2 {
    border: 2px solid #66A272;
    border: 2px solid var(--clr-violet ,#66A272) ;
}

.cardTitle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.card__popular {
    display: block;
    padding: 5px 10px;
    font-size: .85rem;
    border-radius: 3px;
    color: #fff;
    color: var(--clr-white , #fff);
    background-color: #323639;
    background-color: var(--clr-gray-price , #323639);
}

.card__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    grid-area: card__title;
    margin: 0;
    font-size: 1.25rem;
}
/* CardPrice Section */
.cardPrice {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-row: 3;
  grid-column: 1;
  grid-area: cardPrice;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cardPrice__price {
    margin-right: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #323639;
    color: var(--clr-gray-price , #323639);
}

#cardPricePro.active {
    background-color: #66A272;
}

.cardPrice__time {
    margin-bottom: 3px;
    color: #aeb1b2;
    color: var(--clr-gray-time , #aeb1b2);
}
/* CardList Section */
.cardList {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-row: 5;
    grid-column: 1;
    grid-area: cardList;
    margin: 0;
    padding-left: 0px;
}

.cardList__item {
    margin-bottom: 10px;
    list-style: none;
}
/* Card__signUp Section */
.card__signUp {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-row: 7;
    grid-column: 1;
    grid-area: card__signUp;
    display: block;
    text-align: center;
    padding: 5px 0;
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
    border: 1px solid #d6d7d7;
    border: 1px solid var(--clr-gray-btn , #d6d7d7);
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px #d6d7d7;
            box-shadow: 0px 1px #d6d7d7;
    -webkit-box-shadow: 0px 1px var(--clr-gray-btn , #d6d7d7);
            box-shadow: 0px 1px var(--clr-gray-btn , #d6d7d7);
    color: #000;
    color: var(--clr-black , #000);
    background-color: #fff;
    background-color: var(--clr-white , #fff);
}

.card__signUp--bg {
    color: #fff;
    color: var(--clr-white , #fff);
    background-color: #66A272;
    background-color: var(--clr-violet ,#66A272) ;
}
/* Media Screen Section */
@media screen and (min-width:768px) {
    .cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .card {
        -ms-grid-columns: 225px;
        grid-template-columns: 225px;
    }

    .card__title {
        font-size: 1.75rem;
    }

    .cardPrice__price {
        font-size: 3.5rem;
    }

}






.container-acordeon {
	display: flex;
	width: 90vw;
}

.panel {
	background-size: cover; /* Ajusta la imagen para cubrir todo el panel */
	background-position: center; /* Centra la imagen */
	background-repeat: no-repeat;
	height: 80vh;
	border-radius: 8px;
	cursor: pointer;
	color: white;
	flex: 0.5;
	margin: 12px;
	position: relative;
	transition: flex 0.3s ease-in;
}

.panel h3 {
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
}

.panel.active {
	flex: 5;
}

.panel.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.2s;
}

@media (max-width: 480px) {
	.container-acordeon {
		flex-direction: column;
		width: 100vw;
		height: auto;
	}

	.panel {
		width: 100%;
		margin: 8px 0; /* Ajuste de margen para pantallas pequeñas */
		height: 40vh; /* Reduce la altura de los paneles en pantallas pequeñas */
	}

	.panel:nth-of-type(4),
	.panel:nth-of-type(5) {
		display: none;
	}
}











