/* Estilo general para todos los elementos */
* {
  margin: 0;
  padding: 0;
}

/* Estilos del header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: padding 0.75s, background-color 0.75s;
  padding:0px;
  z-index: 10;
  font-size: 8px;
}

/* Estilos para la navegación dentro del header */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Bloque de la izquierda (logo) */
.header-block.col-4 {
  flex: 1; /* Cada bloque ocupa 1 parte del espacio disponible */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.custom-btn {
  background-color: transparent; /* Fondo transparente */
  border: 1px solid transparent; /* Borde inicialmente transparente */
  color: #f0ebd7; /* Color del texto */
  padding: 10px 20px; /* Relleno para el tamaño del botón */
  font-size: 16px; /* Tamaño del texto */
  border-radius: 50px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a pointer */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transición suave para fondo, color y borde */
}

.custom-btn:hover {
  border-color: #f0ebd7; /* Cambia el borde al color secundario en hover */
}
























/* Bloque central */
.header-block.middle-container {
  flex: 2; /* El bloque central ocupa el doble de espacio que los otros bloques */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-container .logo-image {
  max-width: 55%; /* Ajusta el tamaño máximo del logo a 70px */
  height: auto; /* Mantiene la proporción de la imagen */
  vertical-align: middle; /* Alinea verticalmente con el texto */
}

/* Bloque de la derecha (redes sociales) */
.header-block.nav-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Estado cuando el header está abajo */
header.abajo {
  background-color: rgba(100, 107, 99, 0.8); /* Color de fondo con 80% de opacidad */
  padding: 1px 20px;
}

/* No cambiar el color del texto al hacer scroll */
header.abajo .logo,
header.abajo ul li a,
header.abajo .header-block {
  color: #f0ebd7; /* Mantener el color blanco del texto */
}

/* Estilos para los enlaces de la lista */
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Ajusta el espacio entre los elementos de la lista */
  font-size: 12px;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: #f0ebd7; /* Mantener el color blanco */
  letter-spacing: 1px;
  transition: color 0.7s;
  font-size: 16px;
}

/* Botón de menú */
.menu-toggle {
  display: none; /* Oculto por defecto */
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  z-index: 20; /* Asegúrate de que esté encima del menú */
}



@media (max-width: 768px) {
  /* Oculta el menú de navegación por defecto en dispositivos móviles */
  .header-nav ul {
    display: none; /* Oculta el menú de navegación en dispositivos móviles */
  }
  .header-nav.active .middle-container,
  .header-nav.active .nav-container {
    display: flex; /* Muestra los bloques del menú cuando está activo */
    flex-direction: row; /* Apila verticalmente los elementos del menú */
    width: 100%; /* Asegura que el menú ocupe todo el ancho */
    position: absolute; 
    left: 0; /* Alinea el menú al borde izquierdo */
    z-index: 20; /* Asegura que el menú esté encima de otros elementos */
  }

  /* Muestra el menú cuando el contenedor tiene la clase 'active' */
  .header-nav.active ul {
    display: flex; /* Muestra el menú de navegación cuando está activo */
    flex-direction: row; /* Alinea los elementos horizontalmente */
  }

  /* Muestra el botón de menú hamburguesa en dispositivos móviles */
  .menu-toggle {
    display: block; /* Muestra el botón de menú hamburguesa */
    position: absolute; /* Posiciona el botón sobre el header */
    top: 15px; /* Ajusta la posición del botón */
    right: 15px; /* Alinea el botón al borde derecho del header */
    z-index: 25; /* Asegura que el botón esté encima de otros elementos */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor tipo puntero */
    padding: 10px; /* Espaciado alrededor del botón */
  }

  /* Ajusta el tamaño del logo en dispositivos móviles */
  .logo-container .logo-image {
    max-width: 100px; /* Ajusta el tamaño máximo del logo */
    height: auto; /* Mantiene la proporción del logo */
  }

  /* Ajusta el estilo del bloque central en dispositivos móviles */
  .header-block.middle-container {
    flex: 1; /* Ajusta el tamaño del bloque central si es necesario */
    padding: 10px; /* Añade padding para espaciado */
    text-align: center; /* Centra el texto dentro del bloque */
    max-width: 90%; /* Ajusta el ancho máximo del bloque */
    margin: 0 auto; /* Centra el bloque dentro del contenedor */
  }

  /* Opcional: Ajusta el estilo del bloque de íconos de redes sociales en dispositivos móviles */
  .header-block.nav-container {
    flex: 1; /* Ajusta el tamaño del bloque de íconos si es necesario */
    padding: 10px; /* Añade padding para espaciado */
    text-align: center; /* Centra el texto dentro del bloque */
    max-width: 90%; /* Ajusta el ancho máximo del bloque */
    margin: 0 auto; /* Centra el bloque dentro del contenedor */
  }
}






/* Estilo general */
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.mb-5 {
  margin-bottom: 3rem; /* Ajusta el margen inferior según sea necesario */
}

.text-center {
  text-align: center;
}

.responsive-image {
  width: 100%;
  max-width: 400px; /* Ajusta el ancho máximo de la imagen según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

.responsive-heading {
  font-size: 38px;
  font-family: 'GT America', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.responsive-paragraph {
  font-size: 18px;
  font-family: 'GT America', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
  .responsive-heading {
      font-size: 32px; /* Ajusta el tamaño de la fuente del título en pantallas más pequeñas */
  }

  .responsive-paragraph {
      font-size: 16px; /* Ajusta el tamaño de la fuente del párrafo en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .responsive-heading {
      font-size: 28px; /* Ajusta el tamaño de la fuente del título en pantallas muy pequeñas */
  }

  .responsive-paragraph {
      font-size: 14px; /* Ajusta el tamaño de la fuente del párrafo en pantallas muy pequeñas */
  }
}









/* esto esta comentado */
/* Ajusta el ancho y altura del contenedor del slider */
.swiper-container {
  width: 100%; /* Ajusta el ancho del contenedor al 100% del contenedor padre */
  height: auto; /* Ajusta la altura según el contenido */
  overflow: hidden; /* Evita el desbordamiento del contenido */
  cursor: url('images/cursor.png'), auto;
}

/* Ajusta el estilo de las imágenes dentro de los slides */
.swiper-slide img {
  width: 120%; /* Aumenta el ancho de la imagen al 120% del slide */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área del slide sin distorsionarse */
  margin-left: -10%; /* Ajusta la posición horizontal para centrar la imagen */
}

/* Alinea el contenido dentro de los slides */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120%; /* Asegura que las imágenes ocupen toda la altura del slide */
}









.video {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#display-time {
  position: absolute; /* Posiciona el elemento de manera absoluta dentro del contenedor padre */
  bottom: 80px; /* Ajusta la distancia desde el borde inferior del contenedor */
  left: 20px; /* Ajusta la distancia desde el borde izquierdo del contenedor */
  color: white; /* Asegúrate de que el texto sea visible sobre el video */
  font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
}

.text-overlay {
  position: absolute;
  top: 50%; /* Posición vertical centrada */
  left: 50%; /* Posición horizontal centrada */
  transform: translate(-50%, -50%); /* Centramos el contenedor de texto */
  text-align: center; /* Centra el texto dentro del contenedor */
  width: 100%; /* Asegura que el contenedor de texto ocupe todo el ancho */
  height: auto; /* Ajusta la altura del contenedor según el contenido */
}

#another-text {
  color: white;
  font-size: 40px; /* Tamaño de la fuente */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  opacity: 1; /* Inicialmente visible */
  animation: fadeOut 1s forwards; /* Aplicar animación de desvanecimiento */
  animation-delay: 1s; /* Espera 1 segundo antes de iniciar la animación */
  margin: 0; /* Elimina márgenes para evitar espacios adicionales */
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@media (min-width: 768px) {
  #display-time {
      font-size: 5vw; /* Ajuste para pantallas medianas */
  }

  #another-text {
      font-size: 4vw; /* Ajuste para pantallas medianas */
  }
}

@media (min-width: 1024px) {
  #display-time {
      font-size: 3vw; /* Ajuste para pantallas grandes */
  }

  #another-text {
      font-size: 2.5vw; /* Ajuste para pantallas grandes */
  }
}
#display-time {
  position: absolute;
  bottom: 60px; /* Espacio desde el borde inferior */
  left: 10px; /* Espacio desde el borde izquierdo */
  color: white;
  font-size: 20px; /* Tamaño de la fuente */
  padding: 5px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 50px; /* Tamaño de la fuente */
}






/* Estilo general */
.parallax-section {
  background-image: url('images/banner2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px; /* Ajusta la altura según sea necesario */
  width: 100%;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}

.parallax-content {
  position: relative;
  text-align: center; /* Asegura que el texto dentro de las columnas esté centrado */
  color: white;
  padding: 20px;
  max-width: 100%; /* Asegura que el contenido no sobrepase el ancho de la imagen */
}

.container {
  max-width: 1200px; /* Ajusta el ancho máximo del contenedor según sea necesario */
  width: 100%;
}

.row {
  margin: 0;
}

.col-4 {
  padding: 15px; /* Ajusta el padding según sea necesario */
}

h1, p {
  margin: 0;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .parallax-section {
    height: 300px; /* Ajusta la altura según sea necesario para pantallas más pequeñas */
  }

  .parallax-content {
    padding: 10px; /* Reduce el padding en pantallas más pequeñas */
  }

  h1 {
    font-size: 24px; /* Ajusta el tamaño de la fuente del título en pantallas más pequeñas */
  }

  p {
    font-size: 16px; /* Ajusta el tamaño de la fuente del párrafo en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .parallax-section {
    height: 200px; /* Ajusta la altura según sea necesario para pantallas más pequeñas */
  }

  .parallax-content {
    padding: 5px; /* Reduce aún más el padding en pantallas muy pequeñas */
  }

  h1 {
    font-size: 20px; /* Ajusta el tamaño de la fuente del título en pantallas muy pequeñas */
  }

  p {
    font-size: 14px; /* Ajusta el tamaño de la fuente del párrafo en pantallas muy pequeñas */
  }
}







.instagram__img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* La imagen se ajusta dentro del contenedor sin recortes */
  display: block;
  max-height: 100%; /* Asegura que la imagen no exceda la altura del contenedor */
  overflow: hidden; /* Evita que la imagen se desborde */
}

.instagram__tile {
  position: relative;
  overflow: hidden; /* Asegura que el contenido no se salga del contenedor */
  padding: 7px;
  font-family: CircularStd-Black;
  max-height: 100%; /* Limita la altura del contenedor para controlar el desbordamiento */
}

@media (min-width: 768px) {
  .instagram__tile {
    padding: 3px;
  }
}

.instagram .row {
  margin: -7px;
}



.title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  box-sizing: border-box;
}



@media (min-width: 768px) {
  .instagram .row {
    margin: -3px;
  }
}

  .overlay-plus::before, .overlay-plus::after, .overlay-cross::before, .overlay-cross::after, .overlay-horizontal::before, .overlay-horizontal::after, .overlay-vertical::before, .overlay-vertical::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all 0.5s ease;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.15); }
    @media (prefers-reduced-motion: reduce) {
      .overlay-plus::before, .overlay-plus::after, .overlay-cross::before, .overlay-cross::after, .overlay-horizontal::before, .overlay-horizontal::after, .overlay-vertical::before, .overlay-vertical::after {
        transition: none; } }
  .overlay-plus.overlay-dark::before, .overlay-plus.overlay-dark::after, .overlay-cross.overlay-dark::before, .overlay-cross.overlay-dark::after, .overlay-horizontal.overlay-dark::before, .overlay-horizontal.overlay-dark::after, .overlay-vertical.overlay-dark::before, .overlay-vertical.overlay-dark::after {
    background-color: rgba(0, 0, 0, 0.15); }
  .overlay-plus::before, .overlay-plus::after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .overlay-plus:not(:hover)::before {
    width: 0; }
  .overlay-plus:not(:hover)::after {
    height: 0; }




















/* Estilos del pie de página */
.site-footer {
  background-color: #000;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}




@media (max-width: 991px) {
  .site-footer [class^=col-] {
      margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
      padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
      text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #1d1f1f;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
}

.social-icons a:hover {
  background-color: #00a1ff;
}

.social-icons i {
  line-height: 40px;
}

@media (max-width: 767px) {
  .social-icons {
      text-align: center;
  }
}



@media (min-width: 768px) {
  .video-overlay h1,
  .video-overlay p {
    font-size: 4vw; /* Ajuste para pantallas medianas */
  }
}

@media (min-width: 1024px) {
  .video-overlay h1 {
    font-size: 3vw; /* Ajuste para pantallas grandes */
  }
  
  .video-overlay p {
    font-size: 2vw; /* Ajuste para pantallas grandes */
  }
}









.d-flex {
  width: 100%;
}

.text-center h1, .text-center p {
  margin: 0;
}






.parallax-section {
  background-image: url('images/banner2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px; /* Ajusta la altura según sea necesario */
  width: 100%;
}

.parallax-content {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima del fondo */
  padding: 20px; /* Ajusta el padding según sea necesario */
  color: white; /* Asegura que el texto sea visible sobre el fondo */
}

.row {
  display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
  align-items: center; /* Alinea verticalmente los elementos en el centro */
  justify-content: center; /* Alinea horizontalmente los elementos en el centro */
  flex-wrap: nowrap; /* Asegura que todos los elementos estén en una sola línea */
  margin: 0; /* Elimina márgenes para evitar desbordamiento */
}

.col {
  flex: 1; /* Permite que las columnas se ajusten para ocupar espacio igual */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icono-servicio {
  width: 100px; /* Tamaño fijo para los íconos */
  height: auto; /* Mantiene la relación de aspecto */
  filter: brightness(0) invert(1); /* Convierte los íconos a blanco */
  margin-bottom: 15px; /* Añade espacio debajo de los íconos */
}

.arrow-icon {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(-45deg); /* Rota la flecha para que apunte hacia la derecha */
  -webkit-transform: rotate(-45deg);
  margin: 0 20px; /* Añade margen a los lados de la flecha */
  font-size: 24px; /* Ajusta el tamaño de la flecha si es necesario */
}

.parallax-section h1 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.parallax-section p {
  font-size: 18px;
  margin-top: 5px;
}







.icon-button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #000; /* Color del texto */
  border: 2px solid #000; /* Color del borde */
  background-color: transparent; /* Fondo transparente */
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px; /* Bordes redondeados opcional */
  transition: background-color 0.3s, color 0.3s;
}

.icon-button:hover {
  color: #fff; /* Color del texto en hover */
  background-color: #66A272; /* Fondo del botón en hover */
}

.icon-button i {
  font-size: 25px; /* Tamaño del ícono */
  color: #000; /* Color del ícono */
  margin-right: 8px; /* Espaciado entre ícono y texto */
}



.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #66A272;
  color: white;
  width: 40px;  /* Ancho fijo */
  height: 40px; /* Altura fija */
  border-radius: 50%; /* Hace que el botón sea un círculo */
  text-align: center;
  font-size: 15px;  /* Tamaño del ícono */
  line-height: 40px; /* Centra el ícono verticalmente */
  display: none; /* Inicialmente escondida */
  z-index: 1000;
}


.back-to-top:hover {
  background-color: #555;
}









/*PRICE COLOR CODE START*/
#generic_price_table .generic_content {
  background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price {
  background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg {
  border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span {
  color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign {
  color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency {
  color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent {
  color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month {
  color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li {  
  color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span {
  color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li:hover {
  background-color: #E4E4E4;
  border-left: 5px solid #2ECC71;
}

#generic_price_table .generic_content .generic_price_btn a {
  border: 1px solid #2ECC71; 
  color: #2ECC71;
} 

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg {
  border-color: #2ECC71 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2ECC71;
  color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span {
  color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a {
  background-color: #2ECC71;
  color: #fff;
}

#generic_price_table {
  margin: 50px 0;
  font-family: 'Raleway', sans-serif;
}

.row .table {
  padding: 28px 0;
}

/*PRICE BODY CODE START*/
#generic_price_table .generic_content {
  overflow: hidden;
  position: relative;
  text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
  border-radius: 0;
  position: relative;
  margin-bottom: 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head {
  padding: 30px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag {
  padding: 10px 0;
  border-bottom: 1px solid #E4E4E4;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
}

#generic_price_table .generic_content .generic_feature_list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#generic_price_table .generic_content .generic_feature_list ul li {
  padding: 10px 15px;
  border-bottom: 1px solid #E4E4E4;
}

#generic_price_table .generic_content .generic_feature_list ul li span {
  font-weight: 500;
}

#generic_price_table .generic_content .generic_feature_list ul li:hover {
  background-color: #E4E4E4;
  border-left: 5px solid #2ECC71;
}

#generic_price_table .generic_content .generic_price_btn a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #2ECC71;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #2ECC71;
  transition: background-color 0.3s, color 0.3s;
}

#generic_price_table .generic_content .generic_price_btn a:hover {
  background-color: #2ECC71;
  color: #fff;
}

@media (max-width: 767px) {
  #generic_price_table {
    margin: 50px 0;
  }
}










